<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TA Dashboard Suite" verbose="1">
    <listeners>
        <listener class-name="com.example.tadashboard.common.utilities.listener.ReportListener"/>
    </listeners>
    <test name="Railways Test">
        <classes>
            <class name="com.example.tadashboard.testcases.DA_LOGIN_TC003"/>
            <class name="com.example.tadashboard.testcases.DA_LOGIN_TC008"/>
            <class name="com.example.tadashboard.testcases.DA_MP_TC013"/>
            <class name="com.example.tadashboard.testcases.DA_MP_TC018"/>
            <class name="com.example.tadashboard.testcases.DA_MP_TC023"/>
            <class name="com.example.tadashboard.testcases.DA_PANEL_TC028"/>
            <class name="com.example.tadashboard.testcases.DA_PANEL_TC033"/>
            <class name="com.example.tadashboard.testcases.DA_PANEL_TC058"/>
            <class name="com.example.tadashboard.testcases.DA_DP_TC067"/>
            <class name="com.example.tadashboard.testcases.DA_DP_TC072"/>
        </classes>
    </test>
</suite>
